#d{
    width: 480px;
    height: 600px;
    border: 7px solid #cb5425;
    background-color: rgba(102, 41, 11, 0.396);
    border-radius: 15px;
  
}
#f{
    width: 480px;
    height: 600px; 
    margin-left: 20px;
    border: 7px solid  #cb5425;
    background-color:rgba(102, 41, 11, 0.325);
    border-radius: 15px;
}
button{
    display: inline;
    transition: 0.8s;
}
body{
  background-size: cover;
  background-image: url("Untitled\ design\ \(1\).png");
}


h1 {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 1000;
  font-style: normal;
  color: #fefdfd;
  text-align: center;
  font-size: 50px;
}



.button:hover {
  transform: translateY(-10px);
  box-shadow: #260f02 0 0.4em 2em 0em;
 }
 
h2{

  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}
  
.d{
width: 100px;
height: 300px;
}

#navbar {
  overflow: hidden;
  background-color: #341804;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
a{
  transition: 0.3s;
  font-family: 
   'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-decoration: none;
}
a:hover{
  background-color: #e06331;
  
}

.content {
  padding: 16px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}